<h1 class="animated fadeIn">Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroe.length==''">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino : {{termino}}
        </div>
    </div>
</div>

<div class="card-columns animated fadeIn fast">


    <!-- ejemplo con eventos output personalizado -->
    <!-- <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="foo" [i]="foo.idx" *ngFor="let foo of heroe; let i = index">
    </app-heroe-tarjeta> -->

    <app-heroe-tarjeta [heroe]="foo" [i]="foo.idx" *ngFor="let foo of heroe; let i = index">
    </app-heroe-tarjeta>

    <!-- Se cambia por la tarjeta componente  -->
    <!-- <div class="card" *ngFor="let heroe of heroe; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe(i);">Ver más.</button>

            <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block" routerLinkActive="router-link-active">Ver
        más.</a>
        </div>
    </div> -->

</div>