<h1 class="animated fadeIn">Héroes <small>Marvel y DC</small></h1>
<hr>


<div class="card-columns ">

    <!-- ejemplo con eventos output personalizado -->
    <!-- <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="foo" [i]="i" *ngFor="let foo of heroes; let i = index">
    </app-heroe-tarjeta> -->
    <app-heroe-tarjeta [heroe]="foo" [i]="i" *ngFor="let foo of heroes; let i = index">
    </app-heroe-tarjeta>


    <!-- Codigo antes de crear los componentes herederos *****************************************-->
    <!-- <div class="card" *ngFor="let heroe of heroes; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe(i);">Ver más.</button>

            <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block" routerLinkActive="router-link-active">Ver
        más.</a>
        </div>
    </div> -->

</div>